.a{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    gap: 5px;
}
.b{
    width: 100%;
    height: 100%;
    background-color: red;

}
@media(max-width: 480px){
    .a{
        grid-template-columns: 100px;
        grid-template-rows: 100px 100px 100px 100px 100px 100px;
    }
}